* {
	box-sizing: border-box;
	font-family: sans-serif;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 1.6em;
}

.root {
	max-width: 680px;
	padding: 3rem 1rem;
	margin: 0 auto;
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin: 2rem 0;
}

form {
	display: flex;
	gap: 1rem;
	margin-top: 2rem;
}

input {
	padding: 0.6em;
	font-size: medium;
	width: 100%;
}

input[type="submit"] {
	width: auto;
}

.grid > img {
	object-fit: cover;
	border-radius: 0.4rem;
	margin: 0.6rem;
	width: 100%;
	height: auto;
}

.grid {
	display: grid;
	grid-auto-flow: column;
	gap: 0.4rem;
	width: fit-content;
}

code {
	background: rgba(0, 0, 0, 0.1);
	padding: 0.1em 0.4em;
}

@media screen and (max-width: 640px) {
	body {
		font-size: 16px;
	}

	.root {
		padding: 1rem;
	}
}

.grid {
	display: flex;
	gap: 10px;
}
.grid img {
	max-width: 200px;
	max-height: 130px;
}
