* {
	box-sizing: border-box;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.root {
	max-width: 640px;
	padding: 4rem 1rem;
	margin: 0 auto;
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin: 2rem 0;
}

form {
	display: flex;
	gap: 1rem;
}

input {
	padding: 0.6em;
	font-size: medium;
	width: 100%;
}

input[type="submit"] {
	width: auto;
}
